In [1]:
!pip install ipython-sql
!pip install pymysql

Requirement already satisfied: ipython-sql in d:\anoconda\lib\site-packages (0.4.1)
Requirement already satisfied: six in d:\anoconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\anoconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\anoconda\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: prettytable<1 in d:\anoconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in d:\anoconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in d:\anoconda\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: pickleshare in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: jedi>=0.16 in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: setuptools>=18.5 in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: colorama in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\anoconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anoconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in d:\anoconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in d:\anoconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [2]:
%load_ext sql

In [3]:
import pymysql

In [4]:
%sql mysql+pymysql://root:Ff19900221@localhost/learn

In [7]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost/learn
12 rows affected.

[('chicagocensusdata',),
 ('chicagocrimedata',),
 ('chicagopublicschools',),
 ('classroom',),
 ('customers',),
 ('exam_record',),
 ('examination_info',),
 ('orderitems',),
 ('orders',),
 ('people',),
 ('practice_record',),
 ('test',)]

In [8]:
%%sql
-- Problem 1: Find the total number of crimes recorded in the CRIME table.
select count(*) from chicagocrimedata;

 * mysql+pymysql://root:***@localhost/learn
1 rows affected.

[(385,)]

In [9]:
%%sql
-- Problem 2: List community areas with per capita income less than 11000.
select COMMUNITY_AREA_NAME from chicagocensusdata where PER_CAPITA_INCOME<11000;

 * mysql+pymysql://root:***@localhost/learn
4 rows affected.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [10]:
%%sql
-- Problem 3: List all case numbers for crimes involving minors?
select CASE_NUMBER from chicagocrimedata where DESCRIPTION like '%MINOR%';

 * mysql+pymysql://root:***@localhost/learn
2 rows affected.

[('HL266884',), ('HK238408',)]

In [13]:
%%sql
-- Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
select CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION from chicagocrimedata where PRIMARY_TYPE='KIDNAPPING';

 * mysql+pymysql://root:***@localhost/learn
1 rows affected.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

In [16]:
%%sql
-- Problem 5: What kind of crimes were recorded at schools?
select distinct(PRIMARY_TYPE) from chicagocrimedata where LOCATION_DESCRIPTION like '%SCHOOL%';

 * mysql+pymysql://root:***@localhost/learn
4 rows affected.

[('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [17]:
%%sql
-- Problem 6: List the average safety score for all types of schools.
select `Elementary, Middle, or High School`,avg(SAFETY_SCORE) from chicagopublicschools group by `Elementary, Middle, or High School`;

 * mysql+pymysql://root:***@localhost/learn
3 rows affected.

[('ES', Decimal('44.8264')),
 ('HS', Decimal('49.7250')),
 ('MS', Decimal('53.0000'))]

In [18]:
%%sql
-- Problem 7: List 5 community areas with highest % of households below poverty line.
select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from chicagocensusdata order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * mysql+pymysql://root:***@localhost/learn
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [20]:
%%sql
-- Problem 8: Which community area(number) is most crime prone?
select COMMUNITY_AREA_NUMBER,count(1) from chicagocrimedata group by COMMUNITY_AREA_NUMBER order by count(1) desc limit 1;

 * mysql+pymysql://root:***@localhost/learn
1 rows affected.

[(0, 29)]

In [21]:
%%sql
-- Problem 9: Use a sub-query to find the name of the community area with highest hardship index.
select COMMUNITY_AREA_NAME from chicagocensusdata where HARDSHIP_INDEX=(select max(HARDSHIP_INDEX) from chicagocensusdata);

 * mysql+pymysql://root:***@localhost/learn
1 rows affected.

[('Riverdale',)]

In [22]:
%%sql
-- Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
select COMMUNITY_AREA_NAME from chicagocensusdata where COMMUNITY_AREA_NUMBER=(
    select COMMUNITY_AREA_NUMBER from chicagocrimedata group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)

 * mysql+pymysql://root:***@localhost/learn
1 rows affected.

[('CHICAGO',)]